.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #FFFFFF;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Style for the search bar container */
.search-container {
  position: relative;
  width: 300px;
  margin: 50px auto;
}

/* Style for the search input */
.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
}

/* Style for suggestions box */
.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 321px;
  border: 1px solid #ccc;
  display: none;
  max-height: 170px;
  border-top: none;
  /* Limit the height of the suggestions */
  overflow-y: auto;
  /* Add a vertical scrollbar if content overflows */
  z-index: 1000;
}

/* Style for each suggestion item */
.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
  background-color: #2f2f2f;
}

/* .suggestion-item:hover { */
/*   background: #5d5c5c; */
/* } */

.suggestion-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 4px;
}

.suggestion-item span {
  font-size: 14px;
}

.suggestion-item.highlighted {
  background: #5d5c5c;
}

.part-container {
  display: flex;
  align-items: center;
  background-color: lightgray;
  position: relative;
  padding: 7px;
  margin: 5px;
}

.type-name {
  margin: 0 auto;
  font-weight: bold;
  text-shadow: black;
}

.number2 {
  color: black;
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  flex-direction: column;
  font-size: 0.9em;
}

.number {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.type-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.type-chart-section {
  display: flex;
  padding: 20px;

}

.section-heading {
  width: 175px;
}

.normal {
  background-color: #aaaa99;
}

.fire {
  background-color: #ec4225;
}

.water {
  background-color: #4e9aff;
}

.electric {
  background-color: #f5cc34;
}

.grass {
  background-color: #77cc55;
}

.ice {
  background-color: #66ccff;
}

.fighting {
  background-color: #bb5545;
}

.poison {
  background-color: #aa5599;
}

.ground {
  background-color: #ddbb55;
}

.flying {
  background-color: #8899ff;
}

.psychic {
  background-color: #ee5499;
}

.bug {
  background-color: #aabb22;
}

.rock {
  background-color: #bbaa66;
}

.ghost {
  background-color: #6667bc;
}

.dragon {
  background-color: #7867ee;
}

.dark {
  background-color: #775544;
}

.steel {
  background-color: #aaaabb;
}

.fairy {
  background-color: #ee99ee;
}

